{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="modal">
    <div class="modal__block">
        <p>
            <a href="/">
            <img src="{% static 'base/assets/img/close.svg' %}" alt="x" class="modal__close">
            </a>
        </p>
        <form action="#" class="form modal__form" method="post">
            <h2 class="form__title">Регистрация</h2>

        {% for field in form %}
            <div class="fieldWrapper">
                <font color="#ff8c00">{{ field.errors | escape}}</font>
            </div>
        {% endfor %}

            <input required class="input form__input" type="tel" placeholder="Телефон*" name="username">
            <input required class="input form__input" type="password" placeholder="Пароль*" name="password1">
            <input required class="input form__input" type="password" placeholder="Повторите пароль*" name="password2">
            <div class="form__check">
                <input required class="input form__input" type="checkbox" id="check">
                <label for="check">Я согласен с <a href="#">политикой конфиденциальности</a></label>
            </div>
            {% csrf_token %}
            <input required class="form__input form__btn button button--primary" type="submit" value="Зарегистрироваться">
        </form>
    </div>
</div>
{% endblock content %}